$playerA:  #31c3bd;
$playerA-shadow: #118c87;
$playerA-hover: #65e9e4;

$playerB: #f2b137;
$playerB-shadow: #cc8b13;
$playerB-hover: #ffc860;

$light-color: #a8bfc9;
$light-shadow: #6b8997;
$light-hover: #dbe8ed;

$dark-color: #1f3641;
$dark-shadow: #10212a;

$background: #1a2a33;
